.apio__sellNFTs,
.apio__sellNFTs--heading,
.apio__sellNFTs--CTA
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apio__sellNFTs--heading
{
  margin-bottom: 2rem;
}

.apio__sellNFTs--heading h3
{
  color: var(--color-subtext);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-bottom: 0.5rem;
}

.apio__sellNFTs--heading h1
{
  color: #fff;
  font-family: var(--font-family);
  font-size: 35px;
  line-height: 30px;
  font-weight: 500;
  /* letter-spacing: 0.0em; */
}

.apio__sellNFTs--CTA
{
  border-radius: 30px;
  padding: 2rem 4rem;
  background: rgba(19,14,21,0.5);
  width: 80%;
}

.apio__sellNFTs--CTA--icon
{
  color: var(--color-subtext);
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
}

.apio__sellNFTs--CTA p
{
  margin-top: 0.5rem;
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 75%;
}

.apio__sellNFTs--CTA button
{
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(255, 20, 147, 0.7);
  cursor: pointer;
}

@media screen and (max-width: 850px)
{
  .apio__sellNFTs--CTA
  {
    width: 90%;
  }

  .apio__sellNFTs--CTA p
  {
    width: 100%;
    line-height: 20px; 
  }

  .apio__sellNFTs--heading h1
  {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px)
{
  .apio__sellNFTs--CTA
  {
    padding: 2rem 2rem;
  }

  .apio__sellNFTs--CTA p
  {
    font-size: 12px;
    line-height: 20px; 
  }
}

@media screen and (max-width: 350px)
{
  .apio__sellNFTs--CTA button
  {
    font-size: 15px;
    line-height: 20px;
    padding: 0.5rem 2rem;
  }
}