.apio__header
{
  /* padding-top: 8rem; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.apio__header--heading
{
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 4rem;
}

.apio__header--heading h1
{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  color: #fff;
  margin-bottom: 1rem;
}

.apio__header--heading p
{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.apio__header--image_container
{
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.apio__header--image_container--image_frame
{
  background: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  height: 400px;
  box-shadow: 0 8px 7px 1px rgba(0,0,0,0.8);
  /* padding: 1rem; */
}

.apio__header--image_container--image
{
  width: 100%;
  height: 100%;
}

.apio__header--image_container--image .nimg
{
  width: 100%;
  height: 100%;
  position: relative;
}

.apio__header--image_container--image .nimg img
{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.apio__header--image_container--separator
{
  height: 10px;
  width: 100%;
  background: none;
}

.apio__header--image_container--text
{
  padding: 1rem;
  background: rgba(255, 20, 147, 1);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.apio__header--image_container--text h3
{
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-bottom: 0.6rem;
}

.apio__header--image_container--text p
{
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.apio__header--buttons
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.apio__header--buttons .apio__header--explore_btn,
.apio__header--buttons .apio__header--sellNFT_btn
{
  padding: 0.6rem 2rem;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(255, 20, 147, 1);
  cursor: pointer;
  margin-right: 1rem;
}

.apio__header--buttons .apio__header--sellNFT_btn
{
  color: var(--color-subtext);
  background: #fff;
  margin: 0;
}

.apio__header--connect
{
  display: flex;
  flex-direction: row;
  margin-top: 1.4rem;
  align-items: center;
  cursor: pointer;
}

.apio__header--connected
{
  cursor: default;
}

.apio__header--connect p
{
  font-size: 18px;
  font-weight: 400;
  color: var(--color-subtext);
  margin-left: 0.4rem;
}

.apio__header--wallet_icon
{
  color: #FF1493;
  width: 18px;
  height: 18px;
}

.apio__header--connect
{
  background: rgba(0, 0, 0, 0.2);
  padding: 0.6rem 1rem;
  /* box-shadow: 0 0 2px 2px rgba(255, 20, 147, 0.2); */
  border: 1px solid rgba(255, 20, 147, 0.2);
  border-radius: 10px;
}

.apio__header--connected p,
.apio__header--connected .apio__header--wallet_icon
{
  color: rgba(20, 147, 255, 0.7);
}

.apio__header--connected.apio__header--connect
{
  border: 1px solid rgba(20, 147, 255, 0.7);
}





@media screen and (max-width: 1050px)
{
  .apio__header--image_container--image_frame
  {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 850px)
{
  .apio__header--heading
  {
    flex: 0.7;
    margin-right: 3rem;
  }

  .apio__header--heading h1
  {
    font-size: 35px;
    line-height: 38px;
  }

  .apio__header--heading p
  {
    font-size: 10px;
    line-height: 15px;
  }  

  .apio__header--connect p
  {
    font-size: 16px;
  }

  .apio__header--image_container--image_frame
  {
    width: 270px;
    height: 270px;
  }

  .apio__header--image_container--text
  {
    padding: 0.7rem;
  }

  .apio__header--image_container--text h3
  {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0.3rem;
  }
  
  .apio__header--image_container--text p
  {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 550px)
{
  .apio__header
  {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .apio__header--heading
  {
    text-align: center;
    margin: 0 0 3rem;
    align-items: center;
  }

  .apio__header--image_container
  {
    /* flex: 0.6; */
    width: 100%;
    align-items: center;
  }

  .apio__header--image_container--text
  {
    padding: 0.8rem;
    background: rgba(255, 20, 147, 1);
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .apio__header--image_container--image_frame
  {
    box-shadow: 0 8px 7px 1px rgba(0,0,0,0.4);
  }
} 

@media screen and (max-width: 350px)
{
  .apio__header--buttons .apio__header--explore_btn,
  .apio__header--buttons .apio__header--sellNFT_btn
  {
    font-size: 12px;
    line-height: 20px;
    padding: 0.3rem 1rem;
  }

  .apio__header--heading h1
  {
    line-height: 40px;
  }

  .apio__header--connect
  {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.4rem 0.8rem;
  }

  .apio__header--connect p
  {
    font-size: 13px;
  }

  .apio__header--wallet_icon
  {
    width: 13px;
    height: 13px;
  }

  .apio__header--image_container--image_frame
  {
    width: 250px;
    height: 250px;
  }
}