.apio__NFTGrid
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 4rem; */
}

.apio__NFTGrid--heading
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.apio__NFTGrid--heading h3
{
  color: var(--color-subtext);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-bottom: 0.5rem;
}

.apio__NFTGrid--heading h1
{
  color: #fff;
  font-family: var(--font-family);
  font-size: 35px;
  line-height: 30px;
  font-weight: 500;
  /* letter-spacing: 0.0em; */
}

.apio__NFTGrid--explore_heading h1
{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 1rem;
}

.apio__NFTGrid--isConnected,
.apio__NFTGrid--notConnected
{
  display: none;
}

.apio__NFTGrid--toConnect
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.apio__NFTGrid--toConnect p
{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  margin-bottom: 0.8rem;
  color: var(--color-text);
}

.apio__NFTGrid--toConnect button
{
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(255, 20, 147, 0.7);
  outline: none;
  color: #fff;
  background: rgba(255, 20, 147, 0);
  cursor: pointer;
}

.apio__NFTGrid--grid
{
  /* width: 100%; */
  /* margin-top: 2rem; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-height: 700px;
  overflow-y: overlay;
  /* grid-column-gap: 1rem; */
  /* grid-auto-rows: minmax(350px, auto); */

}

.apio__NFTGrid--grid_container
{
  border-width: 1px;
  border-color: rgba(20,147,255,1);
  background: none;
  border-radius: 20px;
  border-style: solid solid none;
  /* padding: 1rem 4rem; */
}


@media screen and (max-width: 1050px)
{
  .apio__NFTGrid--grid
  {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 990px)
{
  .apio__NFTGrid--grid
  {
    overflow-y: scroll
  }
}

@media screen and (max-width: 850px)
{
  .apio__NFTGrid--explore_heading h1
  {
    font-size: 35px;
    line-height: 38px;
  }
}

@media screen and (max-width: 550px)
{
  .apio__NFTGrid--heading h1
  {
    font-size: 30px;
    line-height: 25px;
  }
  
  .apio__NFTGrid--grid
  {
    /* margin-top: 1rem; */
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 450px)
{
  .apio__NFTGrid--grid
  {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 350px)
{
  .apio__NFTGrid--explore_heading h1
  {
    font-size: 25px;
    line-height: 30px;
  }

  .apio__NFTGrid--heading h3
  {
    font-size: 13px;
    line-height: 15px;
  }

  .apio__NFTGrid--heading h1
  {
    font-size: 25px;
    line-height: 20px;
  }

  .apio__NFTGrid--grid
  {
    /* margin-top: 0.8rem; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
    height: 350px;
  }

}